<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>
<ion-icon name="arrow-round-back"></ion-icon>

<ion-content>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>
  <ion-icon name="arrow-round-back"></ion-icon>

</ion-content>
